<div class="card" style="padding: 2rem">
  <form action="" class="form-control">
    <div class="card" style="align-items: center">
      <img src="../../assets/escudo.jpg" alt="escudo" width="300" />
      <input type="image" src="" alt="" />
    </div>
    <div class="">
      <br />
      <div class="">
        <label class="form-label"><strong>Nome:</strong></label>
        <input type="text" class="form-control" />
      </div>
      <br />
      <div>
        <label class="form-label"><strong>Abreviação:</strong></label>
        <input type="text" class="form-control" />
      </div>
      <br />
      <app-botoes></app-botoes>
    </div>
  </form>
</div>
